footer {
  clear: both;
  position: relative;
  width: 100%;
  height: 45vh;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  overflow: hidden;
  background-image: url("./dataFolder/shinkanRobocon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

#footer_box {
  position: absolute;
  height: 45vh;
  width: 100%;
}

footer address {
  clear: both;
  text-align: center;
  font-size: 10px;
  color: white;
  padding: 20px 0;
  margin: 0;
}

#social_icons {
  width: 100%;
  height: 80px;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 80px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#social_icons a{
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 50px;
  text-align: center;
  vertical-align: center;
  color: white;
}
#social_icons a i{font-size: 1.8em}
#social_icons a:hover .fa-youtube{color: red;}
#social_icons a:hover .fa-twitter{color: skyblue;}
#social_icons a:hover .fa-facebook{color: rgb(52, 57, 242);}
#social_icons a:hover .fa-blogger{color: orange;}
#social_icons a:hover .fa-github{color: white;}

.siteMap_box {
  float: left;
  width: 33%;
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}
.siteMap_box p{
  margin: 0;
  padding: 0;
  color: white;
  font-size: 15px;
}
.siteMap_box ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.siteMap_box li {
  margin: 0.1em 0px;
  margin-left:10px;
  padding: 0;
  color: white;
}
.siteMap_box a {
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
  padding-left: 5px;
}
.siteMap_box a:hover {
  border-left-style:solid;
  border-left-color: orange;
  padding-left: 5px;
}

.Qbox {
  width: 33%;
  margin: 0;
  padding: 0;
  text-align: center;
  float: left;
}
.Qbox p {
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: white;
}
.Qbox a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 13px;
  color: white;
}
