body {
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
  line-height: 1.8;
  letter-spacing: 0.05em;
  margin: 0;
}

#header {
  position: relative;
  /* please change photo Regularly*/
  background-image: url("./dataFolder/picture_2017.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 /* other setting */
  width: 100%;
  height: 80vh;
  overflow: auto;
}
#header::before {
  /*darken the photo*/
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#header p {
  margin: 0;
  padding: 0.2em 0.5em;
  line-height: 1;
  font-weight: bold;
}
#header_box {
  position: absolute;
  width: 100%;
  height: 80vh;
}
#header p {
  position: absolute;
  /* centering box */
  top: 50%;
  left: 50%;
  margin: 0;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  /* other settings */
  font-weight: bold;
  font-size: 30px;
  color: white;
  line-height: 1.5em;
  text-align: center;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  display: inline;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  width: auto;
  margin: 5px;
  border-bottom-style: dotted;
  border-bottom-color: gray;
  border-left-style: solid;
  border-left-color: orange;
}

h3 {
  width: auto;
  margin: 5px;
  border-left-style: double;
  border-left-color: brown;
}

.box_line {
  width: 50%;
  padding: 30px;
  margin: 0px auto;
  color: rgb(60, 63, 75);
  border-left: double 7px rgba(0, 146, 228, 0.85);
  border-right: double 7px rgba(0, 146, 228, 0.85);
  text-align: center;
}
.box_line p {
  margin: 0;
  padding: 0;
}

.container_100 {
  margin:0;
  display:block;
  /* centering box menu */
  text-align: center;
}
.container_100::after{
  /* to clear floating */
  content: '';
  display: block;
  clear: both;
}
.menu_box {
  position: relative;
  display:inline-block;
  /* background important setting  */
  background-size: cover;
  background-position: center;
  /* other settings */
  margin: 0px 20px;
  padding: 0;
  width: 350px;
  height: 35vh;
  border-top-right-radius: 20px;
}
.mini_box {
  /* placing lower bottom */
  position: absolute;
  bottom: 0;
  left: 0;
  /* font properties */
  font-size: 25px;
  text-align: center;
  line-height: 1.5em;
  vertical-align: middle;
  /* other settings */
  width:100%;
  height: 1.5em;
  padding: 0.1em 0;
  margin: 0;
  overflow: hidden;
  background-color: rgba(3, 11, 78, 0.5);
  color: white;
}
.no_decoration {
  text-decoration: none;
  border-style: none;
}

.new_info {
  width: 80%;
  padding: 0;
  margin: 40px auto;
  max-width: 500px;
}
.new_info p{
  margin: 10px;
  padding: 0px;
  text-decoration: underline;
}
.new_info ul{
  width: 100%;
  height: 25vh;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 14px;
  /*overflow-y: scroll;*/
  overflow-x: hidden;
}
.new_info li{
  display: block;
  position: relative;
  /* vertical centering */
  line-height: 40px;
  vertical-align: center;
  /* other setting */
  border-top: solid 2px gray;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
}
.date {
  /* place upper left */
  position: absolute;
  top: 0;
  left: 0;
  /* other setting */
  width: 7em;
  text-align: center;
}
.info_title {
  position: absolute;
  /* place upper left */
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  /* open the space for date */
  padding-left: 7em;
  /* other setting */
  overflow: hidden;
  height: 2em;
  font-weight: bold;
}
