body {
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
  line-height: 1.8;
  letter-spacing: 0.05em;
  margin: 0;
}

#header {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: auto;
  background-image: url("./dataFolder/picture_2017.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#header p {
  margin: 0;
  padding: 0.2em 0.5em;
  line-height: 1;
  font-weight: bold;
  /*
  text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
  text-shadow: 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000, -2px -2px 1px #000;
  */
}
#header_box {
  position: absolute;
  width: 100%;
  height: 80vh;
}
#header p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  font-weight: bold;
  font-size: 30px;
  color: white;
  line-height: 1.5em;
  text-align: center;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  display: inline;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  width: auto;
  margin: 5px;
  border-bottom-style: dotted;
  border-bottom-color: gray;
  border-left-style: solid;
  border-left-color: orange;
}

h3 {
  width: auto;
  margin: 5px;
  border-left-style: double;
  border-left-color: brown;
}

.box_line {
  width: 50%;
  padding: 30px;
  margin:0px auto;
  color: rgb(60, 63, 75);
  border-left: double 7px rgba(0, 146, 228, 0.85);
  border-right: double 7px rgba(0, 146, 228, 0.85);
  text-align: center;
}
.box_line p {
  margin: 0;
  padding: 0;
}

.container_100 {
  margin:0;
  display:block;
  text-align: center;
}
.container_100::after{
  content: '';
  display: block;
  clear: both;
}
.menu_box {
  position: relative;
  display:inline-block;
  margin: 0px 20px;
  padding: 0;
  width: 350px;
  height: 35vh;
  background-size: cover;
  border-style: solid;
  background-position: center;
  border-top-right-radius: 20px;
}
.mini_box {
  position: absolute;
  background-color: rgba(3, 11, 78, 0.5); //Transparent color
  width:100%;
  height: 1.5em;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 0.1em;
  margin: 0;
}
.no_decoration {
  text-decoration: none;
  border-style: none;
}

.link_button {
  font-weight: bold;
  text-decoration: none;
  background-color: burlywood;
  color: white;
  padding: 10px 10px;
  border-radius: 20px;
}

.link_button:hover {
  background-color: aqua;
  text-decoration: none;
}

.link_button:visited {
  color: gray;
}

.new_info {
  width: 80%;
  padding: 0;
  margin: 40px auto;
  max-width: 500px;
  /*border: solid 2px gray;*/
}
.new_info p{
  margin: 10px;
  padding: 0px;
  text-decoration: underline;
}
.new_info ul{
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 14px;
  height: 25vh;
  /*overflow-y: scroll;*/
  overflow-x: hidden;
}
.new_info li{
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  line-height: 40px;
  vertical-align: center;
  border-top: solid 2px gray;
  /*border-bottom: solid 1px gray;*/
  /*border-left: double 7px rgb(116, 35, 35);*/
}
.date {
  position: absolute;
  top: 0;
  left: 0;
  width: 7em;
  text-align: center;
}
.info_title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  padding-left: 7em;
  overflow: hidden;
  height: 2em;
  font-weight: bold;
}
